In [1]:
import pandas as pd

In [2]:
from fast_pandas import FastPandas

In [22]:
df = pd.DataFrame({"a": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]})

In [30]:
mean = FastPandas(df)["a"].mul(3).df()
mean

   (a * 3)
0        3
1        6
2        9
3       12
4       15
5       18
6       21
7       24
8       27
9       30

In [33]:
a = FastPandas(df)["a"]

In [37]:
a.mul(3).add(a).entropy().item()

3.321928094887362

# Use hyperloglog to count unique items

In [46]:
import random
df = pd.DataFrame({"items": [random.randint(0, 10_000_000) for _ in range(100_000_000)]})

In [47]:
len(df["items"].unique())

9999538

In [48]:
FastPandas(df)["items"].approx_count_distinct().item()

10037331

## Entropy

In [49]:
FastPandas(df)["items"].entropy().item()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

23.179988867936974